@page
@model StudentAssignments.Web.Pages.Admin.Groups.IndexModel

@{
    ViewData["Title"] = "Группы";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Создать группу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].AssignmentsAllowed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentsAllowed)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
