@page
@model StudentAssignments.Web.Pages.Admin.Templates.DetailsModel

@{
    ViewData["Title"] = "Шаблон";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Template.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Template.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Template.Content)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="./Details" asp-page-handler="GetContent" asp-route-id="@Model.Template.Id">@Model.Template.Filename</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Template.Id">Редактировать</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Template.Id">Удалить</a>
</div>
